:root.theme-dark {
  --bg-color: #000028;
  --accent-bg: #FF0070;

  --decor-color: #FF0070;
  
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --text-color: #F1B2CE;
  --accent-text: #000028;
  --headline-color: #FF0070;
  
  --btn-text: #FF0070;
  --btn-focus: #FF0070;
  --btn-hover: rgba(255, 0, 112, 0.4);
  --btn-active: #FF0070;

  --link-text: #F1B2CE;
  --link-shadow: #FF0070;
  --link-focus: #F1B2CE;
  --link-hover: #F1B2CE;

  --bg-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__rec-bulb {
  display: block;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}