:root.theme-light {
  --bg-color: #F5F5F5;
  --accent-bg: #FF8DCB;

  --decor-color: #353430;
  
  --title-color: #FFC2E6;
  --title-shadow: #FF8DCB;
  --text-color: #353430;
  --accent-text: #353430;
  --headline-color: #353430;
  
  --btn-text: #353430;
  --btn-focus: #353430;
  --btn-hover: rgba(50, 49, 45, 0.4);
  --btn-active: #353430;

  --link-text: #353430;
  --link-shadow: #FF8DCB;
  --link-focus: #353430;
  --link-hover: #353430;

  --bg-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec-bulb {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #F5F5F5;
    --accent-bg: #FF8DCB;
  
    --decor-color: #353430;
    
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --text-color: #353430;
    --accent-text: #353430;
    --headline-color: #353430;
    
    --btn-text: #353430;
    --btn-focus: #353430;
    --btn-hover: rgba(50, 49, 45, 0.4);
    --btn-active: #353430;
  
    --link-text: #353430;
    --link-shadow: #FF8DCB;
    --link-focus: #353430;
    --link-hover: #353430;

    --bg-image: url("../images/cover-image-light.png");
  }

  .header__rec-bulb {
    display: none;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}