.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  block-size: max(100vh, 668px);
}

.page__contents {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.page__plain-text {
  font-family: 'IBM Plex mono', monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.page__headline-text {
  font-weight: bold;
  color: var(--headline-color);
}

.page__accent-text {
  background-color: var(--accent-bg);
  color: var(--accent-text);
}

.page__title-text {
  font-size: var(--title-size);
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px var(--title-shadow);
}

.header {
  block-size: max(100vh, 668px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--page-padding-x);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: var(--page-padding-y);
  right: var(--page-padding-x);
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: var(--page-padding-y);
  left: var(--page-padding-x);
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.header__rec-bulb {
  position: absolute;
  color: var(--decor-color);
  top: var(--page-padding-y);
  right: var(--page-padding-x);
}

.header__rec-bulb::after {
  content: '';
  width: 9px;
  height: 9px;
  display: inline-block;
  background-color: var(--decor-color);
  margin: 0 10px 2px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  inline-size: min-content;
  display: flex;
  flex-direction: column;
  gap: var(--menu-gap);
}

.header__theme-menu-button {
  appearance: none;
  padding: var(--btn-padding);
  text-transform: lowercase;
  color: var(--btn-text);
  background-color: transparent;
  border: 1px solid transparent;
  transition: border 0.5s;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--btn-focus);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-active);
  pointer-events: none;
}

.header__description {
  justify-self: end;
  inline-size: clamp(355px, 50%, 491px);
}

.page__sections {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.main-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0px var(--page-padding-x) 0;
}

.main-section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: var(--link-text);
  text-shadow: 2px 2px var(--link-shadow);
  border: 1px solid transparent;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--link-text);
}

.link:hover {
  border-bottom: 1px solid var(--link-text);
}

.image-gallery {
  padding: 0 var(--page-padding-x) 0;
}

.image-gallery__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallery-gap);
  padding-top: var(--page-padding-y);
}

.image-gallery__item {
  width: 100%;
}

.footer {
  block-size: max(100vh, 668px);
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  height: 100vh;
}

@media (width >= 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-padding-x: 20px;
    --page-padding-y: 20px;
    --content-gap: 60px;
    --section-gap: 80px;
    --gallery-gap: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .main-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .main-section__content {
    grid-column-start: span 2;
    padding-left: 7px;
  }

  .causes-section .main-section__content {
    grid-column-start: span 3;
    padding-left: 0;
  }

  .image-gallery__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-gallery__item {
    height: 100%;
    object-fit: cover;
  }

  .image-gallery__item:first-child {
    grid-column-start: span 2;
  }

  .image-gallery__item:nth-child(2) {
    grid-row-start: span 2;
  }

  .image-gallery__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .image-gallery__item:last-child {
    grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  :root {
    --menu-gap: 12px;
    --btn-padding: 0 12px 0;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .main-section__content {
    grid-column-start: span 2;
  }

  .causes-section .main-section__content {
    grid-column-start: span 3;
  }
}