/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --accent-bg: #FF0070;

  --decor-color: #FF0070;
  
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --text-color: #F1B2CE;
  --accent-text: #000028;
  --headline-color: #FF0070;
  
  --btn-text: #FF0070;
  --btn-focus: #FF0070;
  --btn-hover: rgba(255, 0, 112, 0.4);
  --btn-active: #FF0070;

  --link-text: #F1B2CE;
  --link-shadow: #FF0070;
  --link-focus: #F1B2CE;
  --link-hover: #F1B2CE;

  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --page-padding-x: 10px;
  --page-padding-y: 10px;

  --menu-gap: 6px;
  --content-gap: 40px;
  --section-gap: 50px;
  --gallery-gap: 10px;

  --btn-padding: 0 12px 4px;

  --bg-image: url("../images/cover-image-dark.png");
}