/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root { 
  --rec-decor-visibility: visible;

  --page-background-color: var(--color-black-1, #000028);
  --page-background-image: url("../images/cover-image.png");
  --page-font-family: "IBM Plex mono", monospace;

  --accent-color: var(--color-purple-2, #ff0070);
  --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
  --secondary-color: var(--color-purple-2, #ff0070);
  --brand-color: var(--color-purple-1, #db00ff);
  --text-color: var(--color-pink-2, #f1b2ce);
  --highlight-color: var(--color-black-1, #000028);

  --color-black-2-o-40: #35343040;
  --color-black-2: #353430;
  --color-black-1: #000028;

  --color-purple-2-o-40: #ff007040;
  --color-purple-2: #ff0070;
  --color-purple-1: #db00ff;

  --color-pink-4: #ff8dcb;
  --color-pink-3: #ffc2e6;
  --color-pink-2: #f1b2ce;
  --color-pink-1: #fff1f7;
}
